<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Book Shelf</title>
    <style>
      .head{
        background: url("{{url_for('static', filename='1.jpg')}}");
        background-repeat: no-repeat;
        background-size:cover;
        background-color:rgba(0,0,0,0);
        padding: 9%;
      }
      #jumbo{
        position: relative;
        max-width: auto;
        opacity:0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
      }
      .user{
        font-family: 'Sriracha', cursive;
      }
      .ul{
        list-style: none;
        margin: 5%;      
      }
      #text{
        font-family: 'Dancing Script', cursive;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Book_Shelf <img src="{{url_for('static', filename='2.png')}}" height="35" width="35" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('profile')}}">Edit Profile</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="">Report Error</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
         <h5 class="user">{{name}}</h5>
        </form>
      </div>
    </nav>

    <div class="head">
      <div id="jumbo" class="jumbotron">
        <h1 class="display-4">WE ENSURE QUALITY</h1>
        <h2 class="lead">Here you can ensure book you want to read.</h2>
        <hr class="my-4">
        <h2>Best in class reviews and rating for those whose love to read.</h2>
      </div>
    </div>
    {% if reviews != [] %}
    <ul class="ul">
      {% for review in reviews%}
      {% for book in books%}
      {% if review.isbn == book.isbn %}
      <li>
        <br><br>
        <div class="jumbotron">
          <div class="media">
            <img src="{{url_for('static', filename='2.png')}}" height="75px" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Review</h5>
              <h5 class="mt-0">Book Name: {{book.title}}</h5>
              <h5 class="mt-0">Author: {{book.author}}</h5>
              <h5 class="mt-0">Year: {{book.year}}</h5>
              <h5 class="mt-0">ISBN: {{book.isbn}}</h5>
              <hr>
              <h5 id="text">{{review.review}}</h5>
            </div>
          </div>
        </div>
        <br><hr><br>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
      
      <div class="jumbotron" id="form">
        <form class="form" name="form" action="{{ url_for('review')}}" method="post">
          <input type="text" class="form-control" name="name" id="review" value="{{name}}" placeholder="{{name}}">
          <br>
          <div class="form-group">
            <div class="col-xs-6">
              <label for="isbn"><h4>isbn:</h4></label>
              <input type="text" class="form-control" name="isbn" id="isbn" placeholder="isbn" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-6">
              <label for="review"><h4>Review</h4></label>
              <input type="text" class="form-control" name="review" id="review" placeholder="Enter Your Review" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <br>
              <button  class="btn btn-success" value="submit" type="submit"> Save</button>
              <button type="reset" class="btn btn-info"> Reset</button>
            </div>
          </div>
        </form>
      </div>
    </ul>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>