<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Book Shelf</title>
    <style>
      .head{
        background: url("{{url_for('static', filename='1.jpg')}}");
        background-repeat: no-repeat;
        background-size:cover;
        background-color:rgba(0,0,0,0);
        padding: 9%;
      }
      #jumbotron{
        position: relative;
        max-width: auto;
        opacity: 0.75;
        filter: alpha(opacity=50); /* For IE8 and earlier */            
      }
      .user{
        font-family: 'Sriracha', cursive;
      }
      #login{
        margin: 5%;
        margin-left: 25%;
        margin-right: 25%;
      ;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Book_Shelf <img src="{{url_for('static', filename='2.png')}}" height="35" width="35" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('profile')}}">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">Report Error</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" id="login" >
      <img src="{{url_for('static', filename='2.png')}}" height="75" style="margin-left: 40.67575125%; " alt="">
      <h1 style="text-align: center;">Login</h1>
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <hr>
            <form class="form" name="form" action="{{ url_for('loginform')}}" method="post">
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="email"><h4>Email</h4></label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="password"><h4>Password</h4></label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                </div>
              </div>
              <div style="padding-left: 40%;" class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button  class="btn btn-success" value="submit" type="submit">Login</button>
                  <button class="btn btn-info"><a style="color: white;" href="{{url_for('Signup')}}"> Signup</a></button>
                </div>
              </div>
            </form>
            <hr>
          
        </div>
      </div>
    </div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>