body {
  text-align: center;
  font-style: italic;
  font-family: cursive;
  color: white;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body h1 {
  color: rgba(0, 255, 21, 0.76);
  text-align: center;
}
body p {
  color: 253;
  text-transform: rgba(0, 255, 21, 0.76);
  font-size: x-large;
}
body .bd-example {
  max-height: 600px !important;
  max-width: auto !important;
}

@media(max-width: 300px){
  body{
    display:flex;
    flex-wrap: wrap;
    font-size: smaller;
  }
}

@media(max-width: 400px){
  body{
    display:flex;
    flex-wrap: wrap;
    font-size: 10%;
  }
  .bd-example .fet .abt.ftt #nav { font-size: 0.25rem;}
}

@media(max-width: 500px){
  body{
    display:flex;
    flex-wrap: wrap;
    font-size:10%;
  }
}
/*# sourceMappingURL=css.css.map */
