$color:rgba(0, 255, 21, 0.76);
  body{
        text-align: center;
        font-style: italic;
        font-family: cursive;
        color: white;        



        background: #000000; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        h1{
            color: $color;
            text-align: center;;

        }
        p{
            color: red($color: #fdfdfd);
            text-transform: $color;
            font-size: x-large;
            
            
        }
        .bd-example{
            max-height: 600px !important;
           max-width: auto !important;
        }
        
    }
