body{
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#tb{
    table-layout: auto;
    empty-cells: show;
    border: 2px;
    cursor: pointer;

}
a:hover{
    transform: translate(300,200);
}
.image{
    padding: 15px;
    position: relative;
    

}
.row{
    padding: 15px;
}

h1 {
    color: rgba(0, 255, 21, 0.76);
    text-align: center;
  }

h2{
    color: white;
    text-align: center;
    font-family: cursive;
    font-size:xx-large;
    font-style: italic;
}
#list{
    align-content: center;
    color: white;
    font-family: cursive;
    font-style: italic;
    font-size: larger;
    list-style-type: none;
    text-align: center;
}